@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.form-container {
    background: transparent;
    border-radius: 15px;
    padding: 45px;
    align-items: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
  }
  
  .form-container input[type="text"] {
    border: none;
    align-items: center;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    outline: none;
    font-size: 14px;
  }
  
  .form-container button {
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-container button:hover {
    background-color: #5753c9;
  }

  .songslist {
    background: transparent;
    list-style-type: none;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
  }
  .editbtn {
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    color: black; 
    background-color: transparent;
    border: 2px solid;
    border-radius: 100px;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, #aa4bb5, #bd6cb7); 
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .editbtn :hover {

  }
  .deletebtn {
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    color: black; 
    background-color: transparent;
    border: 2px solid;
    border-radius: 10px;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, #aa4bb5, #bd6cb7);
    cursor: pointer;
    transition: all 0.3s ease;
  }